.hva-skal-du-rapportere {
    background-color: white;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-self: center;
}
.hva-skal-du-rapportere__knapper {
    display: flex;
    gap: 2rem;
}
@media (min-width: 992px) {
    .hvit-side-boks.hva-skal-du-rapportere {
        width: 50rem;
    }
}
