.skjema-container {
  margin-top: 3rem;
  padding: 3rem 2rem 3rem 2rem;
  width: 60rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-self: center;

}

.skjema-innhold {
  margin-top: 2rem;
  flex-direction: column;
  align-self: center;
  background-color: white;
  width: 100%;
  padding: 3rem;

  &__side-1-systemtittel {
    margin: 3rem 0 2rem 0;
  }

  &__side-1-input-felt {
    width: 45%;
  }

  &__side-1-linje-2 {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 3rem;
  }

  &__side-1-linje-4 {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 3rem 0;
  }

}