@import "~nav-frontend-core/less/_variabler";

.input-av-personer {
  border-bottom: 1px solid @navMorkGra;
  padding-bottom: 2rem;

  &__knapper-overst {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__tabell {
    margin-top: 3rem;
  }
}
