@import '~nav-frontend-core/less/_variabler';

.datofelt {
    margin: 2rem 0 0.5rem 0;
    position: relative;

    &__input-container {
        display: flex;
    }

    .ReactCollapse--collapse {
        position: absolute;
        top: 137px;
        left: -20px;
        z-index: 999;
        background-color: @white;
    }

    .ReactCollapse--content {
        border: 1px solid @navGra60;
    }

    &__input {
        width: 15rem;
    }

    &__knapp {
        position: absolute;
        background-color: transparent;
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid @navBlaDarken40;
        right: 0;

        &:focus {
            outline: none;
            border: 2px solid @navBlaDarken40;
        }

        &:hover {
            background-color: @navBlaLighten80;
            border: 2px solid @navBlaDarken40;
        }
    }
}
