.banner {
    border-bottom: 0.25rem solid var(--a-border-focus-on-inverted);
    padding: 1rem;
    background-color: var(--a-bg-default);
}
.banner__tittel {
    margin-bottom: 1rem;
}
.banner__inner {
    display: grid;
    grid-template-columns: 1fr minmax(1rem,60rem) 1fr;
    grid-template-areas: "pictogram title empty";
}

.banner__tittel {
    grid-area: title;
}

.banner__pictogram {
    grid-area: pictogram;
    display: flex;
    justify-self: flex-end;
    margin: 0 32px 0 64px;
    align-items: flex-start;
}

@media (max-width: 1028px) {
    .banner__pictogram {
        display: none;
    }
}
