.banner {
    background-color: #cce1f3;
    border-bottom: 0.25rem solid #99c2e8;
    padding: 2rem;
}
.banner__tittel {
    margin-bottom: 1rem;
}
.banner__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .banner__tittel {
        margin-bottom: 0;
    }
    .banner__inner {
        flex-direction: row;
    }
}
