@import '~nav-frontend-core/less/_variabler';

.forside&__info-om-meldeplikt-boks {
    border: 2px solid @navBlaLighten80;
    border-radius: 4px;
    margin: 3.5rem 1rem 0;
    padding: 3rem 1rem 2rem;
    background-color: white;
    position: relative;

    .ikon {
        display: flex;
        justify-content: center;
    }

    .innhold {
        margin-top: 2rem;

        .ingress {
            margin: 1.5rem 0 1rem 0;
        }

        .meld-fra-knapp {
            margin-top: 1.5rem;
        }
    }
}

@media (min-width: @screen-sm) {
    .forside__info-om-meldeplikt-boks {
        display: flex;
        flex-direction: row;
        margin: 3.5rem 0 0;
        padding: 3rem 2rem 2rem;
        width: 38rem;
        align-self: center;

        .ikon {
            justify-content: center;
        }

        .innhold {
            margin: 0 0 0 2rem;
        }
    }
}

@media (min-width: @screen-md) {
    .forside__info-om-meldeplikt-boks {
        width: 45rem;
    }
}
