.tidligere-skjema {
    display: flex;
    border-top: solid 1.5px #f1f1f1;
    background-color: transparent;
    justify-content: center;
}
.tidligere-skjema__overskrift-kort {
    margin-bottom: 0.5rem;
}
.tidligere-skjema__liste {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
    padding: 0;
}
