@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.tidligere-skjema {
    display: flex;
    border-top: solid 1.5px @navLysGra;
    background-color: transparent;
    justify-content: center;

    &__overskrift-kort {
        margin-bottom: 0.5rem;
    }

    &__liste {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: 1.5rem 0;
        align-self: center;

        @media (min-width: @screen-sm) {
            margin: 1.5rem 0 1.5rem 2rem;
        }
    }
}

@media (min-width: @screen-sm) {
    .tidligere-skjema {
        display: none;
    }
}
