@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.tidligere-skjema {
    display: flex;
    border-top: solid 1.5px @navLysGra;
    background-color: transparent;
    justify-content: center;

    &__overskrift-kort {
        margin-bottom: 0.5rem;
    }

    &__liste {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-self: center;
        padding: 0;
    }
}
