@import '~nav-frontend-core/less/_variabler';

.skjema-innhold {
    &__side-2-text-area {
        margin-top: 2rem;
        width: 100%;

        .textarea--medMeta {
            height: 100px !important;
        }
    }

    &__side-2-dato-container {
        display: flex;
        flex-direction: column;
    }

    &__side-2-dato-overskrift {
        margin: 2rem 0 0.5rem;
    }
}

@media (min-width: @screen-sm) {
    .skjema-innhold {
        &__side-2-text-area {
            .textarea--medMeta {
                height: 65px !important;
            }
        }

        &__side-2-dato-container {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
