.forside {
    &__topp {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        :first-child {
            margin-right: 2rem;
        }
    }
    &__info-om-meldeplikt-boks {
        flex-direction: row;

        &__innhold {
            margin: 0 0 0 2rem;

            &__ingress {
                margin: 2rem 0 2rem 0;
            }
            &__meld-til-nav-knapp {
                margin: 2rem 0 0 0;
            }
        }
    }
}
