@import '~nav-frontend-core/less/_variabler';

.forside {
    &__topp {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        :first-child {
            margin-right: 2rem;
        }
    }

    &__tabell-container {
        display: initial;
    }
}

@media (max-width: @screen-sm) {
    .forside {
        &__tabell-container {
            display: none;
        }
    }
}
