.attributt {
    display: flex;
    color: #4f4f4f;
}
.attributt__navn {
    width: 40%;
    min-width: 9rem;
    color: #6a6a6a;
}
.attributt__verdi {
    width: 60%;
    overflow-wrap: break-word;
}
@media (min-width: 768px) {
    .attributt {
        margin-right: 2rem;
    }
    .attributt__navn {
        width: 30%;
        min-width: 10rem;
    }
}
