.les-mer-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.les-mer-panel .ReactCollapse--collapse {
    transition: height 500ms;
}
.les-mer-panel__toggler {
    order: 2;
}
.les-mer-panel__toggler--åpen {
    margin-top: 0.75rem;
}
.les-mer-panel__innhold {
    order: 1;
    margin-top: 0.25rem;
}
