.yrkeskategorier.error .navds-combobox__wrapper-inner {
    border-color: var(--ac-textfield-error-border, var(--__ac-textfield-error-border, var(--a-border-danger)));
    box-shadow: 0 0 0 1px var(--ac-select-error-border, var(--a-surface-danger));
}

.yrkeskategorier .yrkeskategorier__combobox.no-value .navds-combobox__list {
    visibility: hidden;
}