.hvit-side-boks {
    margin-top: 2rem;
    border-radius: 4px;
    padding: 3rem 2rem 3rem 2rem;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
}
