@import '~nav-frontend-core/less/_variabler';

.hvit-side-boks {
    margin-top: 2rem;
    border-radius: 4px;
    padding: 3rem 2rem;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;

    @media (min-width: @screen-sm) {
        width: 37rem;
    }

    @media (min-width: @screen-md) {
        width: 45rem;
    }
}
