.hvit-side-boks {
    margin: 2rem 1rem 1rem;
    border-radius: 4px;
    padding: 3rem 1rem;
    background-color: white;
    position: relative;
}
@media (min-width: 768px) {
    .hvit-side-boks {
        width: 38rem;
        align-self: center;
        margin: 2rem 0 0;
        padding: 3rem 2rem;
    }
}
@media (min-width: 992px) {
    .hvit-side-boks {
        width: 45rem;
    }
}
