.skjema-innhold {
    &__fram-og-tilbake {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        align-self: center;
        margin-top: 3rem;
        align-items: flex-start;
        text-align: right;
    }
}
