.spacer-rem-halv {
    margin-top: 0.5rem;
}
.spacer-rem-1 {
    margin-top: 1rem;
}
.spacer-rem-2 {
    margin-top: 2rem;
}
.spacer-rem-3 {
    margin-top: 3rem;
}
.spacer-rem-4 {
    margin-top: 4rem;
}
