@import '~nav-frontend-core/less/_variabler';

.mobilInputfelt {
    border-bottom: 1px solid @navGra80;
    padding: 1.5rem 0 1.5rem 2rem;

    &__rad {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__organisasjon {
        text-overflow: ellipsis;
    }

    &__checkboks {
        position: relative;
        left: -2rem;
    }

    &__verdi {
        position: absolute;
        left: 50%;
    }
}
