.infoToggler {
    border: none;
    background: transparent;
    padding: 0;
    align-self: start;
    color: #0067c5;
}
.infoToggler:hover {
    cursor: pointer;
}
.infoToggler:focus {
    box-shadow: 0 0 0 3px #254b6d;
}
.infoToggler__label {
    text-decoration: underline;
    margin-right: 0.5rem;
}
.infoToggler__label:hover {
    text-decoration: none;
}
